body {
  background: #333;
  color: #fff;
  font-family: sans-serif;
  margin-left: 30px; }

button, input, select:focus {
  outline: 0;
  cursor: pointer; }

.title {
  font-size: 40px;
  font-weight: bold;
  font-family: SketchLogs;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0 50px 0;
  margin-left: -30px; }

.warehouse_space {
  margin: 10px 0 10px 0; }

.sell, .chop, .cut {
  margin: 10px 0 10px 0;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold; }

#sell {
  margin: 10px 0 10px 20px; }

.money, .disp_log_workers, .disp_cut_workers, .disp_harvesters {
  margin: 10px 0 10px 0; }

img.axe_img {
  width: 100px;
  height: auto;
  margin: -70px 0 0 100px; }

#money {
  margin: 0 0 10px 0; }

.chainsaw, .log_worker, .cut_worker, .buy_warehouse_space, .buy_harvester {
  margin-top: 5px;
  cursor: pointer; }
  .chainsaw:hover, .log_worker:hover, .cut_worker:hover, .buy_warehouse_space:hover, .buy_harvester:hover {
    color: #f47a42; }

.chopbarborder {
  height: 15px;
  width: 90px;
  margin-top: 10px;
  border-style: solid;
  border-color: #000;
  border-width: 1px; }

.chopbar {
  height: 15px;
  width: 0px;
  background-color: green; }

@font-face {
  font-family: SketchLogs;
  src: url(../fonts/SketchLogs.ttf); }

#menuToggle {
  display: block;
  position: relative;
  margin: 30px 0 0 0;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%; }

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff; }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px); }

#menu {
  position: absolute;
  width: 300px;
  margin: -70px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;
  background: #333;
  border: solid 1px #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
  transform: none; }
