$bg-color: #333;
$color: #fff;

body {
    background: $bg-color;
    color:$color;
    font-family: sans-serif;
    margin-left: 30px;
}
button, input, select:focus {outline:0; cursor: pointer;}

.title{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0 20px 0;
  margin-left: -30px;
}
.sell, .chop, .cut{
  margin: 10px 0 10px 0;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.money,.disp_log_workers,.disp_cut_workers{
  margin: 10px 0 10px 0;
}

.menu{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.chainsaw,.log_worker,.cut_worker{
  margin-top: 5px;
  cursor: pointer;
  &:hover{
    color: #f47a42;
  }
}
.chopbarborder{
  height: 15px;
  width: 90px;
  margin-top: 10px;
  border-style: solid;
  border-color: #000;
  border-width: 1px;

}
.chopbar{
  height: 15px;
  width: 0px;
  background-color: green;
}
