$bg-color: #333;
$color: #fff;

body {
    background: $bg-color;
    color:$color;
    font-family: sans-serif;
    margin-left: 30px;
}
button, input, select:focus {outline:0; cursor: pointer;}

.title{
  color: #a87045;
  text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: SketchLogs;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0 50px 0;
  margin-left: -30px;
}
.warehouse_space{
  margin: 10px 0 10px 0;
}
.sell, .chop, .cut, .upgrade{
  margin: 10px 0 10px 0;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
#sell,#selllogs{width: 150px;}
.sellwhenmill{
  margin: 10px 0 10px 0 !important;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.disp_log_workers, .disp_cut_workers, .disp_harvesters{
  margin: 10px 0 10px 0;
}
.market_wrap{
  display:flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}
.log_price{
  margin: 20px 0 10px 0;
}

.goods{
  display: flex;
  flex-direction: row;
}
.logs, .boards, .money{
  margin-right: 10px;
}
.left {order:1; flex-basis:100%; }
.right {order:2; flex-basis:100%; }


img.axe_img{
  width: 100px;
  height: auto;
  //margin: -70px 0 0 100px;
}

.chainsaw, .log_worker, .cut_worker, .buy_warehouse_space, .buy_harvester, .sawmill{
  margin-top: 5px;
  cursor: pointer;
  &:hover{
    color: #f47a42;
  }
}
.chopbarborder{
  height: 15px;
  width: 90px;
  margin-top: 10px;
  border: 1px solid #fff;
}
.chopbar{
  height: 15px;
  width: 0px;
  background-color: #4CAF50;
}
@font-face {
    font-family: SketchLogs;
    src: url(../fonts/SketchLogs.ttf);
}

#menu{
  padding: 0;
}
#shop{
  display: none;
}
.chopping_stuff{
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -30px;
  border: 1px solid #fff;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
  cursor: pointer;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
.container_market{
  display: none;
}
