$bg-color: #333;
$color: #fff;

body {
    background: $bg-color;
    color:$color;
    font-family: sans-serif;
}
button, input, select:focus {outline:0;}

.bg-info{
  background: red;
}

.title{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0 20px 0;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.months_calendar{
  font-size: 20px;
}
table, th, td {
  padding: 5px;
  text-align: center;
  border-radius: 50px;
}
td{
  cursor: pointer;

  &:hover{
    background-color: #fff;
    color: #000;
  }
}
.btn{
  border-radius: 20px;
  border-style: solid 1px;
  border-color: #000;
  margin: 5px 5px 5px 5px;
  padding: 5px 15px 5px 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;

  &:hover{
      background-color: red;
      cursor: pointer;;
  }
}
select{
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  border-style: none;

  &:hover{
      cursor: pointer;
    }
}
hr.style {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.pass_btn{
  border-radius: 25px;
  margin: 5px 0 0 -35px;
  padding: 5px 15px 5px 15px;
  border-style: solid 1px;
  border-color: #000;
  text-transform: uppercase;
  font-weight: bold;

  &:hover{
    cursor: pointer;
    background-color: red;

  }
}
.task_input{
  border-radius: 25px;
  border-style: solid 1px;
  border-color: #000;
  padding: 5px 15px 5px 10px;
  margin-left: 20px;
  width: 300px;
}
@media only screen and (max-width: 600px){
  .task_input{width: 150px;}
}
