$bg-color: #333;
$color: #fff;

body {
    background: $bg-color;
    color:$color;
    font-family: sans-serif;
    margin-left: 30px;
}
button, input, select:focus {outline:0; cursor: pointer;}

.title{
  color: #a87045;
  text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: SketchLogs;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0 50px 0;
  margin-left: -30px;
}
.warehouse_space{
  margin: 10px 0 10px 0;
}
.sell, .chop, .cut, .upgrade{
  margin: 10px 0 10px 0;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
#sell,#selllogs{width: 150px;}
.sellwhenmill{
  margin: 10px 0 10px 0 !important;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.disp_log_workers, .disp_cut_workers, .disp_harvesters{
  margin: 10px 0 10px 0;
}
.market_wrap{
  display:flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}
.log_price{
  margin: 20px 0 10px 0;
}
.container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}
.goods{
  display: flex;
  flex-direction: row;
}
.logs, .boards, .money{
  margin: 10px;
}
.left {order:1; flex-basis:100%; }
.right {order:2; flex-basis:100%; }

@media screen and (min-width:600px) {
   .container {
       flex-wrap:nowrap;
   }
    .left {
        flex-basis:300px;
        order:1;
    }
    .right {
        flex-basis:200px;
        order:2;
    }
}

img.axe_img{
  width: 100px;
  height: auto;
  //margin: -70px 0 0 100px;
}

.chainsaw, .log_worker, .cut_worker, .buy_warehouse_space, .buy_harvester, .sawmill{
  margin-top: 5px;
  cursor: pointer;
  &:hover{
    color: #f47a42;
  }
}
.chopbarborder{
  height: 15px;
  width: 90px;
  margin-top: 10px;
  border: 1px solid #fff;
}
.chopbar{
  height: 15px;
  width: 0px;
  background-color: #4CAF50;
}
@font-face {
    font-family: SketchLogs;
    src: url(../fonts/SketchLogs.ttf);
}
#menuToggle{
  display: block;
  position: relative;
  margin: 30px 0 0 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
#menu{
  position: absolute;
  width: 300px;
  margin: -70px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;
  background: $bg-color;
  border: solid 1px #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul{
  transform: none;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -30px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
  cursor: pointer;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
.container_market{
  display: none;
}
